{% extends '::base.html.twig' %}

{% block body %}
<h3>Fonction</h3>

<table class="table table-hover">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Libellé</th>
            <td>{{ entity.libele }}</td>
        </tr>
        <tr>
            <th>Niveau hiérarchique</th>
            <td>{{ entity.niveauHierarchique }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('fonction') }}">
            <span class="back">Retour &agrave; la liste</span>
        </a>
    </li>
    <li>
        <a href="{{ path('fonction_edit', { 'id': entity.id }) }}">
            <span class="edit">Editer</span>
        </a>
    </li>
    <li>
        <form action="{{ path('fonction_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="delete" data-confirm="êtes vous sûre de vouloir supprimer cette fonction?"><i class="icon-trash icon-white"></i> Supprimer</button>
        </form>
    </li>
</ul>
{% endblock %}