{% extends '::base.html.twig' %}

{% block body %}
<h3>Editer un abandant</h3>

<form action="{{ path('abandant_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('abandant') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('abandant_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger" data-confirm="êtes vous sûre de vouloir supprimer?">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}