{% extends '::base.html.twig' %}

{% block body %}
<h3>Budget d'une rubrique</h3>

<table class="table table-hover">
    <tbody>
        <tr>
            <td width="180">Id</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Rubrique</td>
            <td>{{ entity.rubrique }}</td>
        </tr>
        <tr>
            <td>Année</td>
            <td>{{ entity.annee }}</td>
        </tr>
        <tr>
            <td>Montant</td>
            <td>{{ entity.montant|number_format(2, '.', ' ') }}</td>
        </tr>
				<tr>
						<td valign="top">Ecoles</td>
						<td>
						<ul>
						{% for entity in entities %}
				      <li>{{ entity.ecole }}</li>
				    {% endfor %}
				    </ul>
				    </td>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('budget') }}">
            <span class="back">Retour &agrave; la liste</span>
        </a>
    </li>
    <li>
        <a href="{{ path('budget_edit', { 'id': entity.id }) }}">
            <span class="edit">Editer</span>
        </a>
    </li>
    <li>
        <form action="{{ path('budget_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger" data-confirm="êtes vous sûre de vouloir supprimer?"><i class="icon-trash icon-white"></i> Supprimer</button>
        </form>
    </li>
</ul>

{% endblock %}