{% extends '::base.html.twig' %}

{% block body %}
<h3>Editer une affectation</h3>

<form action="{{ path('affectation_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}

    {% include "AcmeFmpsBundle:Default:submit.html.twig" %}

</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('affectation') }}">
            <span class="back">Retour &agrave; la liste</span>
        </a>
    </li>
    <li>
        <form action="{{ path('affectation_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger" data-confirm="êtes vous sûre de vouloir supprimer?"><i class="icon-trash icon-white"></i> Supprimer</button>
        </form>
    </li>
</ul>
{% endblock %}