{% extends '::base.html.twig' %}

{% block body %}
<h3>Affectation</h3>

<table class="table table-hover">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Employé</th>
            <td>{{ entity.employe }}</td>
        </tr>
        <tr>
            <th>Ecole</th>
            <td>{{ entity.ecole }}</td>
        </tr>
        <tr>
            <th>Date de début de l'affectation</th>
            <td>{% if entity.dateDebutAffectation %}{{ entity.dateDebutAffectation|date('d-m-Y') }}{% endif%}</td>
        </tr>
        <tr>
            <th>Date de fin de l'affectation</th>
            <td>{% if entity.dateFinAffectation %}{{ entity.dateFinAffectation|date('d-m-Y') }}{% endif%}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('affectation') }}">
            <span class="back">Retour &agrave; la liste</span>
        </a>
    </li>
    <li>
        <a href="{{ path('affectation_edit', { 'id': entity.id }) }}">
            <span class="edit">Editer</span>
        </a>
    </li>
    <li>
        <form action="{{ path('affectation_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger" data-confirm="êtes vous sûre de vouloir supprimer?"><i class="icon-trash icon-white"></i> Supprimer</button>
        </form>
    </li>
</ul>
{% endblock %}