{% extends '::base.html.twig' %}

{% block body %}
<h3>Liste des rubriques</h3>
<div class="pull-right">
    <a href="{{ path('rubrique_new') }}">
        <span><i class="icon-plus-sign icon-white"></i> Ajouter une rubrique</span>
    </a>
</div>

<form action="{{ path('rubrique') }}" method="get" {{ form_enctype(form) }}>
    <table id="search">
        <tr>
            <td>{{ form_label(form.intitule) }}</td>
            <td>{{ form_label(form.chapitre) }}</td>
            <td>{{ form_label(form.article) }}</td>
            <td>{{ form_label(form.paragraphe) }}</td>
            <td>{{ form_label(form.ammortissable) }}</td>
            <td>{{ form_label(form.dureeAmmortissement) }}</td>
            <td></td>
        </tr>
        <tr>
            <td>{{ form_widget(form.intitule) }}</td>
            <td>{{ form_widget(form.chapitre) }}</td>
            <td>{{ form_widget(form.article) }}</td>
            <td>{{ form_widget(form.paragraphe) }}</td>
            <td>{{ form_widget(form.ammortissable) }}</td>
            <td>{{ form_widget(form.dureeAmmortissement) }}</td>
            <td class="pb10"><button type="submit" class="btn">Rechercher</button></td>
        </tr>
    </table>
</form>

{% if entities.count == 0 %}
    <div class="flash notice">Désolé. Aucune rubrique n'a été trouvée</div>
{% else %}

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th width="20">{{ entities.sortable('Id', 'r.id')|raw }}</th>
            <th>{{ entities.sortable('Intitule', 'r.intitule')|raw }}</th>
            <th>{{ entities.sortable('Chapitre', 'r.chapitre')|raw }}</th>
            <th>{{ entities.sortable('Article', 'r.article')|raw }}</th>
            <th>{{ entities.sortable('Paragraphe', 'r.paragraphe')|raw }}</th>
            <th>{{ entities.sortable('Ammortissable', 'r.ammortissable')|raw }}</th>
            <th>{{ entities.sortable("Durée", 'r.dureeAmmortissement')|raw }}</th>
            <th width="150">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
            <td><a href="{{ path('rubrique_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.intitule }}</td>
            <td>{{ entity.chapitre }}</td>
            <td>{{ entity.article }}</td>
            <td>{{ entity.paragraphe }}</td>
            <td>{{ entity.ammortissableStr }}</td>
            <td>{{ entity.dureeAmmortissement }}</td>
            <td>
                <ul>
                    <li><a href="{{ path('rubrique_show', { 'id': entity.id }) }}"><span class="detail">D&eacute;tail</span></a></li>
                    <li><a href="{{ path('rubrique_edit', { 'id': entity.id }) }}"><span class="edit">Editer</span></a></li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="navigation">
    {{ entities.render()|raw }}
</div>
{% endif %}
{% endblock %}