
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Adhérent</th>
            <td>{{ entity.adherent == 1 ? 'oui' : 'non' }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ entity.nom }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ entity.prenom }}</td>
        </tr>
        <tr>
            <th>Cin</th>
            <td>{{ entity.cin }}</td>
        </tr>
        <tr>
            <th>Nationalité</th>
            <td>{{ entity.nationalite }}</td>
        </tr>
        <tr>
            <th>Profession</th>
            <td>{{ entity.profession }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Téléphone personel</th>
            <td>{{ entity.telephone }}</td>
        </tr>
        <tr>
            <th>Téléphone du bureau</th>
            <td>{{ entity.telephoneBureau }}</td>
        </tr>
        <tr>
            <th>Fix</th>
            <td>{{ entity.fix }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ entity.adresse }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ entity.ville }}</td>
        </tr>
        <tr>
            <th>Type de parenté</th>
            <td>{{ entity.typeParenteStr }}</td>
        </tr>
        <tr>
            <th>Numéro PPR</th>
            <td>{{ entity.numPpr }}</td>
        </tr>
        <tr>
            <th>Numéro d'adhérant</th>
            <td>{{ entity.numAdh }}</td>
        </tr>