{% block field_row %}
{% spaceless %}
  <div class="control-group">
    {{ form_label(form) }}
    <div class="controls">{{ form_widget(form, {'attr': {'class':'input-text' }}) }}</div>
    <span class="help-inline">{{ form_errors(form) }}</span>
  </div>
{% endspaceless %}
{% endblock field_row %}

{% block generic_label %}
{% spaceless %}
    {% if required %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' required'}) %}
    {% endif %}
    <label class="req control-label" {% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>{{ label|trans }}:</label>
{% endspaceless %}
{% endblock %}

{% block field_label %}
{% spaceless %}
    <label class="req control-label" for="{{ id }}"{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>{{ label|trans }}:</label>
{% endspaceless %}
{% endblock field_label %}

{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <span class="help-inline error-message">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</span>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}

{% block field_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input size="40" type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" />
{% endspaceless %}
{% endblock field_widget %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('field_widget') }}
    {% else %}
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year, {'attr': {'class':'input-text' }}),
                '{{ month }}': form_widget(form.month, {'attr': {'class':'input-text' }}),
                '{{ day }}':   form_widget(form.day, {'attr': {'class':'input-text' }}),
            })|raw }}
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

