{% extends '::base.html.twig' %}

{% block body %}
<h1>Editer une fonction</h1>

<form action="{{ path('employefonction_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_row(edit_form._token) }} 
  <div>
	    {{ form_label(edit_form.employe) }}
	    {{ form_widget(edit_form.employe) }}
	</div>
	
	<div>
	    {{ form_label(edit_form.fonction) }}
	    {{ form_widget(edit_form.fonction) }}
	    <a href="#content-div" class="fancybox"><span><i class="icon-plus-sign icon-white"></i> Ajouter une fonction</span></a>
	</div>
	
	<div>
	    {{ form_label(edit_form.dateDebutFonction) }}
	    {{ form_widget(edit_form.dateDebutFonction) }}
	</div>
	
	<div>
	    {{ form_label(edit_form.dateFinFonction) }}
	    {{ form_widget(edit_form.dateFinFonction) }}
	</div>
    <p>
        <button type="submit">Editer</button>
    </p>
</form>

<div id="content-div" style="display: none">
	<h1>Ajouter une fonction</h1>
  <div class="flash error invisible" id="ajax_error"></div>
	<form action="{{ path('fonction_create') }}" class="ajax_form" method="post" {{ form_enctype(fonction_form) }}>
    {{ form_widget(fonction_form) }}
    <input type="hidden" name="dom_id" value="employe_fonction_fonction" />
    <p>
        <button type="submit" id="ajax_submit">Créer</button>
    </p>
	</form>

</div>


<ul class="record_actions">
    <li>
        <a href="{{ path('employefonction') }}">
            <span class="back">Retour &agrave; la liste</span>
        </a>
    </li>
    <li>
        <form action="{{ path('employefonction_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger" data-confirm="êtes vous sûre de vouloir supprimer?"><i class="icon-trash icon-white"></i> Supprimer</button>
        </form>
    </li>
</ul>
{% endblock %}