{% extends '::base.html.twig' %}

{% block body %}
<h1>Liste des inscriptions</h1>

<div class="new_entity">
    <a href="{{ path('inscription_new') }}">
        <span class="new">Nouvelle inscription</span>
    </a>
</div>

<form action="{{ path('inscription') }}" method="get" {{ form_enctype(form) }}>
    <table id="search">
        <tr>
            <td>{{ form_label(form.numDemande) }}:</td>
            <td>{{ form_label(form.dateDemande) }}:</td>
            <td>{{ form_label(form.ecole) }}:</td>
            <td>{{ form_label(form.anneeScolaire) }}:</td>
            <td>{{ form_label(form.titeur) }}</td>
						<td>{{ form_label(form.enfant) }}</td>
						<td></td>
        </tr>
        <tr>
            <td>{{ form_widget(form.numDemande) }}</td>
            <td>{{ form_widget(form.dateDemande) }}</td>
			      <td>{{ form_widget(form.ecole) }}</td>
            <td>{{ form_widget(form.anneeScolaire) }}</td>
            <td>{{ form_widget(form.titeur) }}</td>
            <td>{{ form_widget(form.enfant) }}</td>
            <td><button type="submit">Rechercher</button></td>
        </tr>
    </table>
</form>

<table class="records_list">
    <thead>
        <tr>
            <th>{{ entities.sortable('Id', 'i.id')|raw }}</th>
            <th>{{ entities.sortable('Numéro', 'i.numDemande')|raw }}</th>
            <th>{{ entities.sortable('Date', 'i.dateDemande')|raw }}</th>
            <th>{{ entities.sortable('Ecole', 'i.ecoleId')|raw }}</th>
            <th>{{ entities.sortable('Année scolaire', 'i.anneeScolaireId')|raw }}</th>
            <th>{{ entities.sortable('Section', 'i.sectionId')|raw }}</th>
            <th>{{ entities.sortable('Enfant', 'i.enfantId')|raw }}</th>
						<th>{{ entities.sortable('Payé', 'i.validated')|raw }}</th>
            <th width="280">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
            <td><a href="{{ path('inscription_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.numDemande }}</td>
            <td>{% if entity.dateDemande %}{{ entity.dateDemande|date('Y-m-d') }}{% endif %}</td>
            <td>{{ entity.ecole }}</td>
            <td>{{ entity.anneeScolaire }}</td>
            <td>{{ entity.section }}</td>
            <td>{{ entity.enfant }}</td>
						<td align="center" width="40"><img src="{{ asset('bundles/acmefmps/images/') }}{{ entity.validated == 1 ? 'checked.gif' : 'notchecked.gif' }}" alt="" /></td>
            <td>
                <ul>
	                    <li><a href="{{ path('inscription_show', { 'id': entity.id }) }}"><span class="detail">Détail</span></a></li>
	                    <li><a href="{{ path('inscription_edit', { 'id': entity.id }) }}"><span class="edit">Editer</span></a></li>
	{% if entity.validated == 0 %}
	<li><a href="{{ path('paiement_new', { 'inscription_id': entity.id }) }}"><span class="new">Paiement</span></a></li>
	{% endif %}
	{% if entity.validated == 1 %}
	<li><a href="{{ path('inscriptionoffreservice_new', { 'inscription_id': entity.id }) }}"><span class="new">Offre de service</span></a></li>
	{% endif %}
	                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="navigation">
    {{ entities.render()|raw }}
</div>

{% endblock %}