{% extends '::base.html.twig' %}

{% block body %}
<h1>Editer un paiement</h1>

<form action="{{ path('paiement_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Editer</button>
    </p>
</form>

<ul class="record_actions">
    <li>
       <a href="{{ path('paiement') }}">
		        <span class="back">Retour &agrave; la liste</span>
		    </a>
    </li>
    <li>
        <form action="{{ path('paiement_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="delete" data-confirm="êtes vous sûre de vouloir supprimer?">Supprimer</button>
        </form>
    </li>
</ul>
{% endblock %}