{% extends '::base.html.twig' %}

{% block body %}
<h1>Paiement</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Matricule</th>
            <td>{{ entity.matricule }}</td>
        </tr>
        <tr>
            <th>Date de paiement</th>
            <td>{{ entity.datePaiement|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>Moyen de paiement</th>
            <td>{{ entity.moyenPaiement }}</td>
        </tr>
        <tr>
            <th>Montant de paiement</th>
            <td>{{ entity.montantPaiement|number_format(2, '.', ' ') }}</td>
        </tr>
        <tr>
            <th>Nom du payeur</th>
            <td>{{ entity.nomPersonnePaiement }}</td>
        </tr>
        <tr>
            <th>Enfant</th>
            <td>{{ entity.inscription }}</td>
        </tr>

    </tbody>
</table>

<ul class="record_actions">
  <li>
    <a href="{{ path('paiement') }}">
        <span class="back">Retour &agrave; la liste</span>
    </a>
  </li>
  <li>
    <a href="{{ path('paiement_edit', { 'id': entity.id }) }}">
        <span class="edit">Editer</span>
    </a>
  </li>
	<li>
      <a href="{{ path('inscriptionoffreservice_new', { 'inscription_id': entity.inscriptionId }) }}">
          <span class="new">Ajouter des services</span>
      </a>
  </li>
  <li>
    <form action="{{ path('paiement_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit" class="delete" data-confirm="êtes vous sûre de vouloir supprimer?">Supprimer</button>
    </form>
  </li>
</ul>
{% endblock %}