{% extends '::base.html.twig' %}

{% block body %}
<h3>Liste des contacts</h3>

<div class="pull-right">
    <a href="{{ path('contact_new') }}">
        <span><i class="icon-plus-sign icon-white"></i> Ajouter un contact</span>
    </a>
</div>

{% if entities.count == 0 %}
    <div class="flash notice">Désolé. Aucun contact n'a été trouvé</div>
{% else %}

<form action="{{ path('contact') }}" method="get" {{ form_enctype(form) }}>
    <table id="search">
        <tr>
            <td>{{ form_label(form.nomContact) }}</td>
            <td>{{ form_label(form.prenomContact) }}</td>
            <td>{{ form_label(form.mailContact) }}</td>
            <td>{{ form_label(form.statusContact) }}</td>
            <td></td>
        </tr>
        <tr>
            <td>{{ form_widget(form.nomContact) }}</td>
            <td>{{ form_widget(form.prenomContact) }}</td>
            <td>{{ form_widget(form.mailContact) }}</td>
            <td>{{ form_widget(form.statusContact) }}</td>
            <td class="pb10"><button type="submit" class="btn">Rechercher</button></td>
        </tr>
    </table>
</form>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th width="25">{{ entities.sortable('Id', 'c.id')|raw }}</th>
            <th>{{ entities.sortable('Nom', 'c.nomContact')|raw }}</th>
            <th>{{ entities.sortable('Prénom', 'c.prenomContact')|raw }}</th>
            <th>{{ entities.sortable('Email', 'c.mailContact')|raw }}</th>
            <th>{{ entities.sortable('Status', 'c.id')|raw }}</th>
            <th width="150">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
            <td><a href="{{ path('contact_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nomContact }}</td>
            <td>{{ entity.prenomContact }}</td>
            <td>{{ entity.mailContact }}</td>
            <td>{{ entity.statusContact }}</td>
            <td>
                <ul>
                    <li><a href="{{ path('contact_show', { 'id': entity.id }) }}"><span class="detail">D&eacute;tail</span></a></li>
                    <li><a href="{{ path('contact_edit', { 'id': entity.id }) }}"><span class="edit">Editer</span></a></li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}